{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "rules": {
    "no-console": "warn",
    "semi": ["error", "never"],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
